// Paletter generation tool: https://gka.github.io/palettes/#/9|s|00429d,96ffea,ffffe0|ffffe0,ff005e,93003a|1|1

:root {
    --color-primary: #64F59E;
    --color-dark: #181717;
    --color-white: white;
    --color-secondary: #69C9F2;
    --color-alternative: #20A0D7;

    // Greys: Material-UI
    --color-grey-400: #BDBDBD;
    --color-grey-200: #EEEEEE
}